@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: gray; */
}

.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top img{
    height: 350px;
    width: 250px;
    border: 1px solid black;
    border-radius: 50%;
    
}

.body{
    margin-top: 150px;
    text-align: center;
}

.description{
    text-align: center;
}

.escort{
    display: flex;
    justify-content: center;
}

.escort img{
    width: 300px;
}

.cards{
    padding-left: 40px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.card{
    width: 350px;
    padding: 10px;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
}

.card img,video{
    max-width: 340px;
}

.son{
    text-align: center;
    
}

.buttondiv{
    margin-bottom: 30px;
}

.apo img{
    max-width: 350px;
}


@media (width<500px){
    .top{
        display: block;
        text-align: center;
    }
    .cards{
        grid-template-columns: repeat(1,1fr);
        margin: 0;
    }
    .card{
        margin-bottom: 20px;
    }
}

.button{
    padding: 10px;
    color:white;
    background-color: red;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}
.button:hover{
    color: red;
    background-color: white;
    border: 1px solid red;
    transition: all 0.4s ease;
}